{
    "resourceType": "Bundle",
    "type": "batch",
    "entry": [
        {% set entry_comma = joiner(",") %}
        {% for rxGov in rxGovResponse %}
            {{ entry_comma() }}{% include "Resources/MedicationDispense.j2" %}
        {% endfor %}
    ]
}